Source: nitroshare
Section: net
Priority: extra
Maintainer: Nathan Osman <nathan@quickmediasolutions.com>
Build-Depends: debhelper (>= 9),
               cmake (>= 3.2.0),
               qtbase5-dev (>= 5.4),
               libqhttpengine-dev,
               libqmdnsengine-dev
Standards-Version: 3.9.8
Homepage: http://nitroshare.net/

Package: libnitroshare0
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Cross-platform network file transfer application
 .
 This package contains the shared library that provides core functionality for
 managing discovered devices and performing transfers.

Package: libnitroshare-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends},
         libnitroshare0 (= ${binary:Version})
Description: Cross-platform network file transfer application
 .
 This package contains the files necessary for development.

Package: nitroshare-plugins-core
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Cross-platform network file transfer application
 .
 This package contains the core plugins required to facilitate basic transfer
 operation.

Package: nitroshare-plugins-ui
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Cross-platform network file transfer application
 .
 This package contains the plugins that provide common UI functionality for the
 desktop application.

Package: nitroshare-cli
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nitroshare-plugins-core (= ${binary:Version})
Description: Cross-platform network file transfer application
 .
 This package contains the CLI application for transferring files with other
 devices on the local network.

Package: nitroshare-ui
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nitroshare-plugins-core (= ${binary:Version}),
         nitroshare-plugins-ui (= ${binary:Version})
Description: Cross-platform network file transfer application
 .
 This package contains the desktop application for transferring files with
 other devices on the local network.
